.reactMarkDown {
  color: #e0e0e0; /* Màu chữ sáng để nổi bật trên nền tối */
  text-align: left;
  font-size: 0.9rem; /* 14px */
  white-space: pre-wrap;
}

.reactMarkDown p {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  white-space: pre-wrap;
  margin: 0.1em 0;
}

.reactMarkDown h1 {
  font-size: 2em;
  margin: 0.1em 0;
  font-weight: bold;
  color: #ffffff; /* Màu chữ tiêu đề sáng */
}

.reactMarkDown h2 {
  font-size: 1.5em;
  margin: 0.1em 0;
  font-weight: bold;
  color: #e0e0e0; /* Màu chữ tiêu đề phụ sáng */
}

.reactMarkDown h3 {
  font-size: 1.17em;
  margin: 0.1em 0;
  font-weight: bold;
  color: #e0e0e0;
}

.reactMarkDown h4 {
  font-size: 1em;
  margin: 0.1em 0;
  font-weight: bold;
  color: #e0e0e0;
}

.reactMarkDown h5 {
  font-size: 0.83em;
  margin: 0.1em 0;
  font-weight: bold;
  color: #e0e0e0;
}

.reactMarkDown h6 {
  font-size: 0.67em;
  margin: 0.1em 0;
  font-weight: bold;
  color: #e0e0e0;
}

.reactMarkDown ul {
  list-style: disc outside none;
  padding-left: 1.5em;
  margin: 0.1em 0;
}

.reactMarkDown ul li {
  margin-left: 1em;
  display: list-item;
  text-align: -webkit-match-parent;
}

.reactMarkDown ol {
  list-style: none;
  counter-reset: item;
}

.reactMarkDown ol > li:before {
  margin-right: 10px;
  content: counter(item);
  background: #005757;
  border-radius: 50%; /* Ensures the marker is a perfect circle */
  color: white;
  width: 1.5em;
  font-weight: bold;
  height: 1.5em; /* Ensure height matches width for a circle */
  text-align: center;
  display: inline-block;
  line-height: 1.5em; /* Vertically center the text inside the circle */
}

.reactMarkDown ol > li {
  margin-left: 1em;
  counter-increment: item;
  display: flex;
  align-items: center; /* Vertically center the text with the marker */
}

.reactMarkDown table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.1em 0;
}

.reactMarkDown th,
.reactMarkDown td {
  border: 1px solid #444; /* Đổi màu viền cho bảng */
  padding: 4px;
}

.reactMarkDown th {
  text-align: left;
  background-color: #333; /* Đổi màu nền tiêu đề bảng */
  font-weight: bold;
  color: #ffffff; /* Màu chữ tiêu đề bảng sáng */
}

.reactMarkDown blockquote {
  margin: 0.1em 1em;
  padding: 0.1em;
  border-left: 5px solid #555; /* Đổi màu viền cho đoạn trích dẫn */
  background-color: #2a2a2a; /* Đổi màu nền cho đoạn trích dẫn */
}

.reactMarkDown pre {
  background-color: #1e1e1e; /* Đổi màu nền cho phần mã */
  padding: 0.5em;
  border: 1px solid #444; /* Đổi màu viền cho phần mã */
  overflow-x: auto;
}

.reactMarkDown code {
  font-family: "Courier New", Courier, monospace;
  background-color: #2a2a2a; /* Đổi màu nền cho đoạn mã */
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.reactMarkDown hr {
  border: 0;
  height: 1px;
  background: #555; /* Đổi màu ngắt dòng */
  margin: 0.1em 0;
}

.reactMarkDown a {
  color: #1e90ff; /* Đổi màu liên kết */
  text-decoration: none;
}

.reactMarkDown a:hover {
  text-decoration: underline;
}
